
dbt-snowflake
dbt-core 
astronomer-cosmos
apache-airflow-providers-snowflake
astronomer-cosmos
# dbt-postgres 
# dbt-redshift 
# dbt-snowflake 
# dbt-bigquery 
# dbt-trino


# pip install -r requirements.txtpip install -r requirements.txt
